
html {
  font-size: 16px;
  font-family: 'RNS SANZ', sans-serif;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 5rem;
}

.IngServices li {
 padding: 1.5rem;
 font-size: 1.5rem;
 font-family: 'Montserrat', sans-serif;
 list-style: circle;

}


footer {

    background-color: #003C71;
    color: white;
  }
i {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  a {
    color: white;
  }
a:hover {
  color: none;
}

.card-img-overlay {
  top: 30%;
  bottom: auto;
}
.btn {
  background-color: #003C71;
}

.btn:hover {
  background-color: #FCC42C;
}

h2 {

  background-color: #FCC42C;
  font-family: 'RNS SANZ', sans-serif;
}






@media (min-width: 576px) {

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }


@media (min-width: 992px) {
  .card-img-top {
      width: 100%;
      height: 30vw;
      object-fit: cover;
  }
 }

@media (min-width: 1200px) {
  .card-img-top {

      width: 100%;
      height: 30vw;
      object-fit: cover;
  }

}
