html {
  font-size: 16px;
 font-family: 'RNS SANZ', sans-serif;
 color: #003C71;
}

h1 {
  font-family: 'RNS SANZ', sans-serif;
  color: #003C71;
}

ul {
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'RNS SANZ', sans-serif;
  color: #003C71;
}

.banner img {
  border-radius: 20%;
}

.banner .card {
  margin-top: 4rem;
  margin-left: 5rem;
}

.afiliaciones {
  margin-left: 3rem;
}

.row {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.btn {
  background-color: #003C71;
}

.btn:hover {
  background-color: #FCC42C;
}

.titulo {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 5rem;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:60px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
  margin-right: 3px;
}

footer {
    background-color: #003C71;
    color: white;
  }

i {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  a {
    color: white;
  }
a:hover {
  color: none;
}

.carousel {
max-height: ;
max-width: ;
}

.card-body {
font-weight: bold;
}

.last {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}
