html {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}



#navbarSupportedContent {
  margin-left: 50px;
  font-size: 1.5rem;
  font-weight: bold;
}
.dropdown-menu {
  font-size: 1.5rem;
}

.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 5rem;
}

.IngServices li {
 padding: 1.5rem;
 font-size: 1.5rem;
 font-family: 'Montserrat', sans-serif;
 list-style: circle;

}

.row {
  margin-left: 70px;
}




@media (min-width: 576px) and (max-width: 767.98px) {
h5 {
  color: yellow;
}

.row {
  margin-left: none;
}

}



@media (min-width: 768px) and (max-width: 991.98px) { ... }


@media (min-width: 992px) and (max-width: 1199.98px) { ... }





footer {

    background-color: #003C71;
    color: white;
  }
i {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  a {
    color: white;
  }
a:hover {
  color: none;
}

.card-img-overlay {
  top: 30%;
  bottom: auto;
}
.btn {
  background-color: #003C71;
}

.btn:hover {
  background-color: #FCC42C;
}

h2 {

  background-color: #FCC42C;
}
