
html {
  font-size: 16px;


}

h1 {
  font-size: 3rem;
  font-family: 'RNS SANZ', sans-serif;
}

h2 {
  font-size: 2rem;
  font-family: 'RNS SANZ', sans-serif;
}
p {
   font-size: 1.5rem;
   font-family: 'RNS SANZ', sans-serif;
}

ol {
  font-size: 1rem;
  font-family: 'RNS SANZ', sans-serif;
}
.jumbotron {

}

.btn {
  background-color: #003C71;
}

.btn:hover {
  background-color: #FCC42C;
}

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card img {
  opacity: 0.5;



}

.card-img-overlay {
  top: 50%;
  bottom: auto;
  max-height: 270px;
}


.contact {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-left: 5rem;
}

ul {
  list-style-type: circle;
}

 footer li { margin-top: 1rem;
  color: #003C71;
  font-weight: bold;
  margin-bottom: 1rem;}

footer {

    background-color: #003C71;
    color: white;
  }
  .container {
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.last {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

.last p {
  font-size: 0.75rem;
  color: white;
}

.last a {
  color: white;
  font-size: 0.75rem;
}
i {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
  a {
    color: white;
  }
a:hover {
  color: none;
}

.language {
  color: gray;
  list-style: none;
}

.language a {
  color: gray;
}


/* Media Queries */

@media only screen and (max-width:576px){


  .card-img-overlay {
    top: 40%;
  }

  .card-img-overlay p {
    font-size: 0.75rem;

  }

  .card-img-overlay h2 {
    font-size: 1.3rem;
  }

  .card-img-overlay .btn {
   font-size: 0.8rem;
  }

  .card-title {

  }

  .btn {
    font-size: 80%;
  }

  .carousel-caption {
    top: 40%;
  }

  .carousel-caption p {
    display: none;
  }

  .carousel-caption h1 {
  font-size: 1.3rem;
  }

  .carousel-caption .btn {
  display: none;
  font-size: 0.8rem;

  }

img {
width: 100%;
height: auto;
}

}
